/*====================[Futura Std]====================*/
@font-face{
  font-family:'FuturaStd-Book';
  src:url('../fonts/Futura Std/FuturaStd-Book.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Light';
  src:url('../fonts/Futura Std/FuturaStd-Light.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-LightOblique';
  src:url('../fonts/Futura Std/FuturaStd-LightOblique.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Medium';
  src:url('../fonts/Futura Std/FuturaStd-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Heavy';
  src:url('../fonts/Futura Std/FuturaStd-Heavy.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Bold';
  src:url('../fonts/Futura Std/FuturaStd-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}