/*====================[Futura]====================*/
@font-face{
  font-family:'FuturaStd-Bold';
  src:url('../fonts/Futura/FuturaStd-Bold.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-BoldOblique';
  src:url('../fonts/Futura/FuturaStd-BoldOblique.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FUTURAL_0';
  src:url('../fonts/Futura/FUTURAL_0.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'tt0142m_';
  src:url('../fonts/Futura/tt0142m_.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'tt0144m_';
  src:url('../fonts/Futura/tt0144m_.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Medium';
  src:url('../fonts/Futura/FuturaStd-Medium.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FUTURALI';
  src:url('../fonts/Futura/FUTURALI.TTF') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-Heavy';
  src:url('../fonts/Futura/FuturaStd-Heavy.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'FuturaStd-CondensedExtraBd';
  src:url('../fonts/Futura/FuturaStd-CondensedExtraBd.otf') format('truetype');
  font-weight:normal;
  font-style:normal;
}